{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "spread": true,
    "templateStrings": true,
    "jsx": true
  },
  "rules": {
    "indent":[2,4, {"VariableDeclarator": 1}],
    "consistent-return": [2],
    "key-spacing": [1, {"beforeColon": false, "afterColon": true}],
    "quotes": [2, "single"],
    "new-cap": [0],
    "no-multi-spaces": [0],
    "no-shadow": [0],
    "no-unused-vars": [1],
    "no-unreachable": [2],
    "no-cond-assign": [2],
    "no-constant-condition": [2],
    "no-dupe-keys": [2],
    "no-dupe-args": [2],
    "no-irregular-whitespace": [2],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "comma-spacing": [2, {"before": false, "after": true}],
    "no-use-before-define": [2, "nofunc"],
  }
}