bower_components/
.htaccess
*~
css/generated.css
css/generated.css.map
js/version.js
js/common-generated-test.js
js/common-generated.js
js/i18n/
node_modules/
fonts/
dist/
js/diplomatic/model/version.js
coverage/
images/
reports/
lib/
data/
i18n/diplomatic.pot
